{% if dl %}
    <hr class="separator separator--line">
    <h3 class="vid-info-title">{{ vid_info.title }}</h3>
    <div class="video_detail webdesigntuts-workshop row">
        <div class="video_preview col col-lg-4 col-md-12">
            <iframe class="embed-responsive embed-responsive-16by9"
                    width="560" height="315"
                    src="https://www.youtube.com/embed/{{ vid_keyword }}"
                    title="YouTube video player"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </div>
        <div class="video_info col col-lg-6 col-md-12">
            <ul class="vid-info">
                {% for key,value in vid_info.items %}
                    {% if key != 'streams' and key != 'title' %}
                        <li><h5><strong>{{ key | lower | capfirst }}:</strong></h5> {{ value }}, {{ vid_info.key }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

